/* ######### Main ######### */

body {
	font: 75%/1 Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #EAEAEA;
	/*background-image: url(../images/silver.jpg);
	background-repeat: no-repeat;
	position: relative; */
	margin: 0 10px;
	padding: 0; 
}

h1 {
	margin: 0 0px;
	color:#6297a6;
	font: Arial, Helvetica, sans-serif;
	font-size:24px;
}

h2 {
	margin: 0 0px;
	font: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:16px;
	color:#04588d;
}

h3 {
	margin: 0 0px;
	font: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#04588d;
}

h4 {
	margin: 0 0px;
	font: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
}

h5 {
	margin: 0 0px;
	font: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FF0000;
}

.leftcol {
	float: left;
	width: 22em;
}

#logo1, #logo2, #logo2_right {height: 112px}

.head_bg{
	background: url(../images/head_bg.png) top left repeat-x;
}
#logo1 {
	background-image: url(../images/logo_1.png);
	background-position: top left;
	background-repeat: no-repeat;
}

#logo2_right {
	background-image: url(../images/logo_2_right.png);
	background-position: top right;
	background-repeat: no-repeat;
}

#header img.snow {
	position:absolute;
	margin: 20px 0px 0px -20px;
}
#footer, #nav {
	TEXT-ALIGN: left;
	PADDING: 0px;
	BORDER-LEFT-WIDTH: 0px;
}

#footer_right {
	min-height: 5.8em;
	TEXT-ALIGN: right;
	padding: 1.9em 20px 0 0;
}

#footer_left {
	min-height: 5.8em;
	TEXT-ALIGN: left;
	padding: 1.9em 20px 0 0;
	width:700px;
}

/* ######### Style for Menu ######### */
.splitmenu{
	width: 100%;
	font-weight: bold;
}

.splitmenu:after{ /*Add margin between menu and rest of content in Firefox*/
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.splitmenu ul{
	border: 1px solid #BBB;
	width: 100%;
	background: url(../images/nav_light.png) center center repeat-x;
	padding: 4px 0;
	margin: 0;
	text-align: center;
}

.splitmenu ul li{
	display: inline;
}

.splitmenu ul li a{
	color: #FFFFFF;
	padding: 4px 7px;
	margin: 0;
	text-decoration: none;
}

.splitmenu ul li a:hover, .splitmenu ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
	background: url(../images/nav_dark.png) center center repeat-x;
}
.dropmenudiv{
	position:absolute;
	top: 0;
	border-bottom-width: 0;
	line-height:18px;
	z-index:100;
	background-color: #FFFFFF;
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
text-decoration: none;
position:absolute;
top: 0;
border: 1px solid #6297A6;
border-bottom-width: 0;
font:normal 10px Arial;
line-height:18px;
z-index:100;
background-color: #D8D8D8;
width: 200px;
visibility: hidden;
}

.dropmenudiv a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #6297A6;
padding: 2px 0;
text-decoration: none;
font-weight: bold;
color: black;
}
.dropmenudiv img{
float: left;
border-style: none;
}

.dropmenudiv a:hover{
color: #FFFFFF;
background: url(../images/nav_dark.png) center center repeat-x;
text-decoration: none;
}

/* ######### Style for Index.asp Main Tables ######### */

table.Main {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none none none none;
}
table.Main td {
	border-width: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
}

table.Chart {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none none none none;
}

table.Chart td {
	border-width: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
}

table.Main {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none none none none;
}

/* Fix for borders. Borders not wanted for the overall table in the page, only the tables within <span> containing data */
table.insidetable td {
	border-width: 1px 1px 1px 1px;
	-moz-border-radius: 1px 1px 1px 1px;
}

.dateselector {
	vertical-align:bottom;
}